#container button {
    width: 190px;
    height: 50px;
    border-radius: 15px;
    color: #091a0c;
    background: #8adc1c;
    /* margin-top: 0; */
    /* border-style: none; */
    /* box-shadow: 4px 4px 10px #1e2224, -4px -4px 8px #434b51,
      inset -4px -4px 10px -2px #1e2224, inset 4px 4px 8px -2px #434b51; */
    font-size: 17px;
    font-weight: 300;
    horiz-align: center;
    vertical-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}


.header {
    background: #55792a;
}

.newPointer {
    cursor:pointer;
}


.nav-footer__item {
    margin: 0 40px 20px 0; }
@media (min-width: 620px) and (max-width: 1023px) {
    .nav-footer__item {
        margin: 0 20px 20px; } }
@media (max-width: 619px) {
    .nav-footer__item {
        margin: 0; } }

.nav-footer__link {
    display: grid;
    color: #623e63;
    font-size: 16px;
    transition: 0.2s; }
.nav-footer__link:hover {
    color: #56bdc5; }
@media (max-width: 619px) {
    .nav-footer__link {
        padding: 10px 0 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.6); }
    .nav-footer__link:hover {
        color: #fff; } }
@media (max-width: 479px) {
    .nav-footer__link {
        padding: 11px 0 14px; } }